venv/
static/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.bak

# Google Cloud App Engine files
app.yaml
.gcloudignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore
.ebextensions
